= simple_form_for @menu, :as => :menu, :url=> @menu.new_record? ? project_menus_path(@project) : project_menu_path(@project,@menu) ,:html => {:class => "form-horizontal"} do |f|

  .form-stocked

    %fieldset
      .row
        .span6
          = f.input :name
          = f.input :parent_id,:collection => @menus,:input_html => {:class =>'chzn-select'}
          .control-group.string.optional#parent_menus_sel{:style=>"#{@menu.new_record? ? 'display:none;' : 'display:block;' }"}
            %label.string.optional.control-label
              %div　报表
              %div.controls
                = select_tag :report_id, options_for_select(@reports.map {|p| [ p.title, p.id ] },@menu.report_ids),{ :'data-placeholder'=>"请选择多个报表...",:class=>"chzn-select",:multiple => true, :size =>4, :id => "menu_report" }
          = f.input :desc
          = f.hidden_field(:project_id)

  .form-actions
    = f.submit "提交", :class => "btn btn-primary"
    = link_to "取消", "javascript:void(0)", :onclick=>"$('#menu').modal('hide')",:class => "btn"

:javascript
  $(function(){
    $(".chzn-select").chosen();
    $("select").change(function(){
      $("select option:selected").each(function(ele,t){
        if ($(t).val() == 0){
         $("#parent_menus_sel").hide();
        }else{
          $("#parent_menus_sel").show();
        }
      });

    });
  });
