%table.table
  %tr
    %th 菜单名称
    %th 菜单描述
    %th 创建时间
    %th
    %th
  - @menus.each do |menu|
    %tr
      %td= menu.name
      %td= menu.desc
      %td= menu.created_at.strftime("%Y-%m-%d %H:%M:%S")
      %td= link_to_edit edit_menu_path(menu)
      %td= link_to_delete menu

= link_to '返回', project_path(@project)
