%p
  = link_to "添加菜单", new_project_menu_path(@project), :class => "btn"
  = link_to '菜单排序', reorder_project_menus_path(@project), :class => "btn"
  
%table.table
  %tr
    %th 菜单名称
    %th 菜单描述
    %th 创建时间
    %th
    %th
  - @menus.each do |menu|
    %tr
      %td= menu.name
      %td= menu.desc
      %td= menu.created_at.strftime("%Y-%m-%d %H:%M:%S")
      %td= link_to_edit edit_project_menu_path(@project,menu)
      %td= link_to_delete project_menu_path(@project,menu)
