- javascript "menus"

.btn{:'add_menu'=> "#{new_project_menu_path(@project)}"} 添加菜单

%div{:style=>'visibility:hidden;height:10px'}

%table.table.table-bordered
  %tr{:style=>"cursor:''"}
    %th 菜单名称
    %th 菜单描述
    %th 创建时间
    %th
    %th

  - @menus.each do |menu|
    - if !menu.child?
      %tr{:id => "menu[#{menu.id}]=root" }
        %td
          %span.folder= menu.name
        %td= menu.desc
        %td= menu.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %td= link_to '改名', "javascript:void(0)",:onclick=>"edit_menu('#{rename_project_menu_path(@project,menu)}')"
        %td= link_to_delete project_menu_path(@project,menu)
      - unless menu.children.blank?
        - menu.children.each do |sub_menu|
          %tr{:id => "menu[#{sub_menu.id}]=#{menu.id}" }
            %td
              %span.file= raw "&nbsp;&nbsp;&nbsp;#{sub_menu.name}"
            %td= sub_menu.desc
            %td= sub_menu.created_at.strftime("%Y-%m-%d %H:%M:%S")
            %td= link_to_edit "javascript:void(0)",:onclick=>"edit_menu('#{edit_project_menu_path(@project,sub_menu)}')"
            %td= link_to_delete project_menu_path(@project,sub_menu)

.modal.fade#menu{:style=>"height:600px;width:600px;display:none"}

:javascript
  $(function(){
    $(".table").tableDnD({
      onDrop:function(table, row){
        menus = $(".table").tableDnDSerialize();
        $.post("#{reorder_project_menus_path(@project)}",{menu:menus},
          function(data){

          })
      }
    });
  });


= javascript_include_tag 'menu.js'



