- stylesheet "menus"
.row-fluid
  .span3
    .well.sidebar-nav
      %h3 菜单
      #sortable
        = nested_list @menus.roots do |menu|
          - if menu.child?
            = link_to "#{menu.name}",project_menu_path(@project,menu)
          -else
            = "#{menu.name}"


  .span9
    %ul.nav.nav-tabs
      - @menu.reports.each do |rp|
        %li= link_to rp.title, "javascript:void(0)", :onclick=>"#"
    
      
    .row-fluid
      .span12
        - @report = @menu.reports.first
        = render :partial => "reports/report"
