.span2
  - if not @project.nil?
    = render "projects/left_nav"
  - else
    = render "admin/projects/left_nav"

.span10
  - if @category.persisted?
    %h3 编辑分类
  - else
    %h3 新建分类
  %hr
  = form_for @category, :url => "#", :html => {:class => "form-horizontal", :onsubmit => "return false"} do |f|
    %fieldset
      .control-group
        = f.label :name, "分类名称", :class => "control-label"
        .controls
          = f.text_field :name
      .form-actions
        - if @category.persisted?
          %a.btn.btn-primary{:onclick => "report_categories_router.update('edit_report_category_#{@category.id}', #{@category.id})"} 保存
        - else
          %a.btn.btn-primary{:onclick => "report_categories_router.create('new_report_category')"} 保存
        %a.btn{:href => "#/reports"} 取消