- javascript "metrics"

= simple_form_for @metric, :url => @project.nil? ? (@metric.persisted? ? admin_template_metric_path(@metric) : admin_template_metrics_path()) : (@metric.persisted? ? project_metric_path(@project, @metric) :  project_metrics_path(@project)), :html => {:class => "form-horizontal"} do |f|
  %input{:type => "hidden", :name => "tab_index", :value => @tab_index}
  #base
    = f.input :name
    = render :partial => "metrics/event_form", :locals => {:builder => f}

  #combine
    = f.input :combine_action, :collection => translate_collection(Metric::COMBINE_ACTIONS, :scope => "metric")

    = f.fields_for :combine do |combine|
      = combine.hidden_field "_destroy"
      #combine_fields
        = render :partial => "metrics/event_form", :locals => {:builder => combine}

  .form-actions
    = f.submit "提交", :class => "btn btn-primary"
    = link_to_function "取消", "close_dialog()", :class => "btn"

:javascript
  PROJECT_IDENTIFIER = "#{@project.nil? ? nil : @project.identifier}";

  $(function() {
    $("#metric_combine_action").change(function() {
      toggle_combine_fieldset()
    })
    toggle_combine_fieldset()
  })