- javascript "metrics"

= simple_form_for @metric, :url => project_metrics_path(@project), :html => {:class => "form-horizontal"} do |f|
  .row
    .span7#base
      = f.input :name
      = render :partial => "form", :locals => {:builder => f}
      
    .span7#combine
      = f.input :combine_action, :collection => translate_collection(Metric::COMBINE_ACTIONS, :scope => "metric")
      
      = f.fields_for :combine do |combine|
        #combine_fields
          = render :partial => "form", :locals => {:builder => combine}
        
  .form-actions
    = f.submit "Submit", :class => "btn btn-primary"
    = link_to_function "取消", "close_dialog()"

:javascript
  var events = #{@events.to_json};
  