#period
  - if @report.period.compare_number < 1
    %label{:for => "start_time"}= t(:start_time)
    = text_field_tag "start_time", @report.start_time, "data-datepicker" => "datepicker"
    %label{:for => "end_time"}= t(:end_time)
    = text_field_tag "end_time", @report.end_time, "data-datepicker" => "datepicker"
  - else
    - (0..@report.period.compare_number).each do |i|
      %label{:for => "compare_time_#{i+1}"} 对比时间#{i+1}
      = text_field_tag "compare_time_#{i+1}", @report.period.compare_start_time(i), "data-datepicker" => "datepicker"
  .form-actions
    %a.btn.btn-primary#search= t(:search)