- title '编辑权限'

= simple_form_for @user ,:as => :user ,:url=> update_role_user_path,:html => {:class => 'form-horizontal'} do |f|

  .form-stocked

    .fieldset
      .row-fluid
        .span12
          = @user.login
          = f.hidden_field :id
          .control-group
            %label.control-label
            .controls
              - @roles.each do |role|
                %label.checkbox.inline
                  =check_box_tag("role[]","#{role.id}",@user.roles.include?(role))
                  = role.name

  .form-actions
    = f.submit "提交", :class => "btn btn-primary"
    = link_to "取消", users_path, :class => "btn"
