- if segment.blank? || segment.new_record?
  .Rs.Gl
    .jI
      .Ik.Gl
        = select_tag :'expression_name[]', options_for_select(translate_collection(Segment::DEFAULT_USER_ATTRIBUTES,:scope=>'segment'),nil),{:class=>'chzn-select',:tabindex=>"-1", :id => "segment_expression_name" }
        = select_tag :'expression_operator[]',options_for_select(translate_collection(Expression::EXPRESSION_OPERATORS,:scope => 'segment')),{:class=>'chzn-select',:tabindex=>"-1", :id => "segment_expression_operator" }
        = text_field_tag :'expression_value[]',nil,:id=>"segment_expression_value"
  .wl.dI 及
  .Rs
    .Ik
      %span.e 添加"AND"语句

- else
  - segment.expressions.each do |segment|
    .Rs.Gl
      .jI
        .Ik.Gl
          = select_tag :'expression_name[]', options_for_select(translate_collection(Segment::DEFAULT_USER_ATTRIBUTES,:scope=>'segment'),segment.name),{:class=>'chzn-select',:tabindex=>"-1", :id => "segment_expression_name_#{segment.id}" }
          = select_tag :'expression_operator[]',options_for_select(translate_collection(Expression::EXPRESSION_OPERATORS,:scope => 'segment'),segment.operator),{:class=>'chzn-select',:tabindex=>"-1", :id => "segment_expression_operator_#{segment.id}" }
          = text_field_tag :'expression_value[]',segment.value,:id=>"segment_expression_value_#{segment.id}"
    .wl.dI 及
  .Rs
    .Ik
      %span.e 添加"AND"语句



:javascript
  $(function(){
    $("span.e").click(function(){
      $.get("#{segments_template_path}",function(data){
       $($(".Rs").last()).remove();
       $("#expressionlist").append(data);
      });

    })
  });
