- title '菜单改名'

= simple_form_for @menu, :as => :menu, :url => @menu.new_record? ? admin_template_menus_path : admin_template_menu_path(@menu),:html => {:class => "form-horizontal"} do |f|

  .form-stocked

    %fieldset
      .row
        .span6
          = f.input :name
          = f.input :desc

  .form-actions
    = f.submit "提交", :class => "btn btn-primary"
    = link_to "取消", "javascript:void(0)", :onclick=>"$('#menu').modal('hide')",:class => "btn"
