- stylesheet "menus"

- title '通用菜单管理'

.btn{:'add_menu'=>''} 添加菜单

%div{:style=>'visibility:hidden;height:10px'}

%table.table.table-bordered
  %tr
    %th 菜单名称
    %th 报表
    %th 菜单描述
    %th 创建时间

  - @menus.each do |menu|
    - if !menu.child?
      %tr{:id => "menu[#{menu.id}]=root" }
        %td
          %span.icon.folder= menu.name
        %td
        %td= menu.desc
        %td= menu.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %td= link_to "改名","javascript:void(0)",:onclick=>"edit_menu('#{rename_admin_template_menu_path(menu)}')"
        %td= link_to_delete admin_template_menu_path(menu)
      - unless menu.children.blank?
        - menu.children.each do |sub_menu|
          %tr{:id => "menu[#{sub_menu.id}]=#{menu.id}" }
            %td
              %span.icon.file= raw "&nbsp;&nbsp;&nbsp;#{sub_menu.name}"
            %td= sub_menu.reports.map(&:title).join("|")
            %td= sub_menu.desc
            %td= sub_menu.created_at.strftime("%Y-%m-%d %H:%M:%S")
            %td= link_to_edit "javascript:void(0)",:onclick=>"edit_menu('#{edit_admin_template_menu_path(sub_menu)}')"
            %td= link_to_delete admin_template_menu_path(sub_menu)


.modal.fade#menu{:style=>"height:600px;width:600px;display:none"}

= javascript_include_tag 'template_menus.js'

:javascript
  $(function(){
    $(".table").tableDnD({
      onDrop:function(table, row){
        menus = $(".table").tableDnDSerialize();
        $.post("#{reorder_admin_template_menus_path}",{menu:menus},
          function(data){

          })
      }
    });
  });
