- title "项目列表"

%table.table.table-striped.table-bordered.table-condensed
  = theads("project", "identifier")
  = tlist @projects, :cols => 2 do |project|
    %td= link_to project.name, project_path(project)
    %td= project.identifier
= will_paginate @projects