- stylesheet "menus"
.row-fluid
  .span3
    .well.sidebar-nav
      %h3 菜单
      #sortable
        = nested_list @menus.roots do |menu|
          - if menu.child?
            = link_to "#{menu.name}",project_menu_path(@project,menu)
          -else
            = "#{menu.name}"


  .span9
    .hero-unit
      %h1 Chart
    .row-fluid
      %table.table.table-bordered
        %thead
          %tr
            %th date
            %th column
            %th column
            %th column
        %tbody
          %tr
            %td{:rowspan=>2} t
            %td Mark
            %td Otto
            %td mdo