- stylesheet "menus"
.row
  .span3
    .well.sidebar-nav
      %div#sortable
        = nested_list @menus.roots do |menu|
          - if menu.child?
            %div= link_to "#{menu.name}"
          -else
            %div= "#{menu.name}"


  .span12
    .hero-unit
      %h1 Chart
    .row-fluid
      %table.table.table-bordered
        %thead
          %tr
            %th date
            %th column
            %th column
            %th column
        %tbody
          %tr
            %td{:rowspan=>2} t
            %td Mark
            %td Otto
            %td mdo