.row-fluid.maintenance-plan-show
  .span4
  .span4.maintenance-plan-container
    %img{:src => "/assets/illustration_503.png"}
    %h1.houston
      Houston! We've got a problem here
    - if @maintenance_plan.present?
      %h3.service-unavailable
        %i.icon-time
        = t("maintenance")
        %span.date
          = @maintenance_plan.begin_at.strftime("%H:%M %D")
        = t("to")
        %span.date
          = @maintenance_plan.end_at.strftime("%H:%M %D")
      %p.announcement
        %i.icon-bullhorn
        %strong
          = t("maintenance_announcement")
        - if @maintenance_plan.announcement.present?
          = @maintenance_plan.localized_announcement
        - else
          = t("maintenance_announcement_default")
        %br
        %i.icon-envelope
        = t("maintenance_contact")
        %a{:href => "mailto:xa@xingcloud.com"}
          xa@xingcloud.com
    - else
      %p.announcement
        = t("maintenance_default")
        %a{:href => "mailto:xa@xingcloud.com"}
          xa@xingcloud.com
  .span4

