- title '编辑角色'

= simple_form_for @role ,:as => :role ,:url=> role_path(@role),:html => {:class => 'form-horizontal'} do |f|

  .form-stocked

    .fieldset
      .row
        .span6
          = f.input :name
          .control-group
            %label.control-label 菜单
            .controls
              - @menus.each do |menu|
                %label.checkbox.inline
                  =check_box_tag("menus[]","#{menu.id}",@role.menus.include?(menu))
                  = menu.name

  .form-actions
    = f.submit "提交", :class => "btn btn-primary"
    = link_to "取消", roles_path, :class => "btn"

