= form_for category, :url => @project.nil? ? edit_admin_template_report_category_path(category) : edit_project_report_category_path(@project, category), :html => {:id => "category_edit#{id}", :method => "get", :class => "modal", :style => "display: none;"} do |f|
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 修改分类
  .modal-body
    = f.label :name, "分类名称"
    = f.text_field :name
  .modal-footer
    = button_tag "取消", :class => "btn", :type => "button", :onclick => "$('#category_edit#{id}').modal('hide')"
    = f.submit "保存", :class => "btn btn-primary"