<div class='Vc'>
  <h3> 最多可选择2个用户群来过滤您的报告&nbsp;</h3>
  <span></span>
  <div class='ngb'>
    <div class='tB'>
      <div class='H5'>
        <div class='GN'> 默认用户群 </div>
        <ul>
          <li>
            <span>&nbsp;</span>
            <div id=default_segment>
              <input type='checkbox' id => "segment_<%= model.get('id') %>"/>
              <label for="segment_<%= model.get('id')"> <%= model.get('name')%></label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class='tB'>
      <div class='H5'>
        <div class='GN'> 自定义用户群 </div>
        <ul>
          <li>
             <span class='e'>
               <%= link_to_delete project_segment_path(@project,custom) %>
             </span>
             <span class='e'>
               <%= link_to "编辑","javascript:void(0)",:onclick=>"edit_segment('#{edit_project_segment_path(@project,custom)}')" %>
             </span>
             <div class='custom_segment'>
              <input type='checkbox' id="segment_<%= model.get('id')%>"/>
              <label for='segment_<%= model.get('id')%>'><%= model.get('name')%></span>
             </div>
          </li>
         </ul>
      </div>
    </div>

    <div class='um'>
      <span class='u' id='segment_apply'> 应用 </span>
      <span class='e' id='segment_cancel'> 取消 </span>
      <div class='u' id='add_custom-segment'>
       <strong> + </strong>
        新自定义用户群
      </div>
    </div>
  </div>
</div>