<div class="control-group">
    <label class="control-label" for="report_report_tabs_attributes_<%= model.get('index') %>_title">标题</label>
    <div class="controls">
        <input id="report_report_tabs_attributes_<%= model.get('index') %>_title" name="report[report_tabs_attributes][<%= model.get('index') %>][title]" type="text" value="<%= model.get('title') %>" />
    </div>
</div>

<div class="control-group">
    <input id="report_report_tabs_attributes_<%= model.get('index') %>_id" name="report[report_tabs_attributes][<%= model.get('index') %>][id]" type="hidden" value="<%= model.get('id') %>" />
    <label class="control-label" for="report_report_tabs_attributes_<%= model.get('index') %>_chart_type">标题</label>
    <div class="controls">
        <input id="report_report_tabs_attributes_<%= model.get('index') %>_chart_type" name="report[report_tabs_attributes][<%= model.get('index') %>][chart_type]" type="hidden" value="<%= model.get('chart_type') %>" />
        <div class="btn-group">
            <a id="report_tab_type<%= model.get('index') %>_line" class="<%= model.get('chart_type') == 'line' ? 'active btn' : 'btn' %>" value="line" href="">线状图</a>
            <a id="report_tab_type<%= model.get('index') %>_bar" class="<%= model.get('chart_type') == 'bar' ? 'active btn' : 'btn' %>" value="bar" href="">柱状图</a>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="report_report_tabs_attributes_<%= model.get('index') %>_metric_ids">指标组</label>
    <div class="controls well metrics">
        <input type="hidden" id="report_report_tabs_attributes_<%= model.get('index') %>_metric_ids" name="report[report_tabs_attributes][<%= model.get('index') %>][metric_ids][]" />
        <div id="report_tab<%= model.get('index') %>_metric_list"></div>
        <div class="action-add" data-popup="width:800px" title="添加指标" href="<%= model.add_metric_url(model.get('index')) %>">
            <i class="icon-plus" />
            添加指标
        </div>
    </div>

</div>