.dropdown
  %a{:class => "dropdown-toggle btn", "data-toggle" => "dropdown", :href => "#"}
    操作
    %b.caret
  %ul{:class => "dropdown-menu"}
    %li
      %a{:href => "#/reports/#{report.id}/edit"}
        %i{:class => "icon-edit"}
        &nbsp;编辑
    %li
      %a{:href => "#/reports/#{report.id}/delete"}
        %i{:class => "icon-trash"}
        &nbsp;删除
    %li.divider
    - if @categories.length == 0
      %li{:style => "text-align: center;"}
        %i 暂无分类
    - else
      - @categories.each do |category|
        %li
          - if category.id == report.report_category_id
            %a{:href => "#"}
              %i{:class => "icon-ok"}
              = category.name
          - else
            %a{:href => "#/reports/#{report.id}/set_category/#{category.id.to_s}"}
              %i{:class => "icon-folder-close"}
              = category.name