- stylesheet "reports"

= form_for @report, :url => @project.nil? ? (@report.persisted? ? admin_template_report_path(@report) : admin_template_reports_path()) : (@report.persisted? ? project_report_path(@project, @report) : project_reports_path(@project) ), :method => @report.persisted? ? "put": "post", :html => {:class => "form-horizontal"} do |f|
  %fieldset
    .control-group
      = f.label :title, "标题", :class => "control-label"
      .controls
        = f.text_field :title

    %ul#tab_header_container{:class => "nav nav-tabs"}
      %li#add_tab
        %a{:href => "javascript:report_tabs_view.addOne(#{@project.nil? ? ReportTab.new.js_attributes.to_json : @project.report_tabs.build.js_attributes.to_json});"}
          %i{:class => "icon-plus"}
          添加标签
    #tab_body_container.tab-content
    .form-actions
      = f.submit "保存", :class => "btn btn-primary"
      %a.btn{:href => @project.nil? ? admin_template_reports_path() : project_reports_path(@project)} 取消


:javascript
  var report_tabs_view = new Analytics.Views.ReportTabs.EditListView();
  report_tabs_view.render(#{@report.report_tabs.map(&:js_attributes).to_json});