
= f.input :type do
  = f.hidden_field :type
  #report_types
  .btn-group
    - Report.subclasses.each do |subclass|
      = link_to subclass.model_name.human, "#type_#{subclass.type_name}", :class => "btn metric-btn #{'active' if @report.class == subclass}", :"data-type" => subclass.name
      
= f.input :metrics do
  .well.metrics{:style => "float:left"}
    #metric_list
    .action-add{:"data-popup" => "width:1200px;", :href => new_project_metric_path(@project, :report_type => "line")}
      + 添加指标
    
:javascript
  
  var metric_data = #{@report.metrics.map(&:short_attributes).to_json }
  var report_types = #{Report.subclasses.map{|subclass| {:name => subclass.name, :human_name => subclass.model_name.human} }.to_json}
  
  $(function() {
    
    _.each(report_types, function(rt) {
      ReportTypes.add(new ReportType(rt));
    });
    
    
    for(var i = 0; i < metric_data.length; i++) {
      Metrics.add(new Metric(metric_data[i]));
    }
    
  })