- javascript "backbone_bundle", "highcharts", "custom_highchart", "backbone"

.row-fluid
  .span9
    #chart_container{:style => "position:relative"}
      #report_message
      #report_desc
      #report_chart
      #report_legend
      
  .span3
    .well
      %h3
        = t(:description)
        %small.pull-right
          = link_to t(:edit), edit_project_report_path(@project, @report)
      = simple_format @report.description
      = render :partial => "periods/date_form"
      
= include_js_template :metric_view
= javascript_include_tag "models/report.js?time=#{Time.now.to_i}"
:css
  .metric_legend {
    text-align:center;
    cursor:pointer;
  }

:javascript
  report.set(#{@report.to_json});
  report.add_period(#{@report.period.to_json});
  report.draw();
  report.metrics.batch_create(#{@report.metrics.to_json});
  