.span2
  = render "projects/left_nav"
#block-container.span10
  .row-fluid
    #report-title.left
      %h3
        = @report.title
    #report-datepicker
  .row-fluid
    .te#segment_list{:style=>'display:block;'}
      =render :partial=>'segments/segments'
    %hr
    .btn-group
      %a.btn{:href => "#/segments/"}
        %i.icon-user
        用户群
      - if not @report.project_id.nil?
        %a.btn{:href => "#/reports/#{@report.id}/edit"}
          %i.icon-edit
          编辑报告
  .row-fluid
    %br
    %input#report_tab_id{:type => "hidden", :value => "#{@report_tab.id}"}
    %ul.nav.nav-tabs
      - @report.report_tabs.each do |tab|
        - if tab.id == @report_tab.id
          %li.active
            %a{:href => "#/reports/#{@report.id}/report_tabs/#{tab.id}"}
              = tab.title
        - else
          %li
            %a{:href => "#/reports/#{@report.id}/report_tabs/#{tab.id}"}
              = tab.title
  #rate-container.row-fluid

  .row-fluid
    #chart

:javascript
  var project = new Analytics.Models.Project(#{@project.js_attributes.to_json})
  var report = reports_router.report(#{(@report.attributes).merge({:report_tab => @report_tab.js_attributes}).to_json});
:css
  .left{
    float: left;
  }
  .right{
    float: right;
  }
