%h3
  = @report.title
%hr
  %ul.nav.nav-tabs
    - @report.report_tabs.each do |report_tab|
      - if report_tab == @report.report_tabs.first
        %li.active
          %a{:href => "#/reports/#{report.id}/report_tabs/#{report_tab.id}"}
            = report_tab.title
      - else
        %li
          %a{:href => "#/reports/#{report.id}/report_tabs/#{report_tab.id}"}
            = report_tab.title
