.header
  .nav-collapse.collapse.navbar-inverse.collapse
    %div.hr.right
      -if project.present?
        %a{:href => "http://p.xingcloud.com/platform_apps?project_id=#{project.identifier}"}
          <i class="icon-globe"></i>
          = t(:header_gdp)
      %div.dropdown.pull-right
        %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
          = session[:cas_user]
          %b.caret
        %ul.dropdown-menu
          - if project.present?
            %li
              %a{:href => "http://p.xingcloud.com/projects/#{project.identifier}/settings"}
                = t(:header_settings)
          %li
            %a{:href => "http://p.xingcloud.com/my/account"}
              = t(:header_my_account)
          %li
            %a{:href => "http://p.xingcloud.com:3001/logout", :ref => "nofollow"}
              = t(:header_logout)
          %li
            %a{:href => "/account"}
              = t(:account_settings)

    %div.hl
      %div.dropdown.project-select

.report-panel{:id=>"report-panel"}
.report-panel-shadow

:javascript
  I18n.fallbacks = true;
  I18n.defaultlocale = "en";
  I18n.locale = "#{I18n.locale}";