.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => "nav-collapse", "data-toggle" => "collapse"}
        %span.i-bar
        %span.i-bar
        %span.i-bar
      %a.brand{:style => "font-size:35px", :href => "http://p.xingcloud.com"}
        = t(:header_brand)
      .container-fluid.nav-collapse
        %ul.nav{:style => "font-size:18px"}
          %li{:style => "padding:10px 10px 11px"}
            %select.project_select
              %option
                = t(:header_loading)
          %li.divider-vertical
          %li.active
            %a{:style => "font-size:18px;line-height:34px"}
              = t(:header_analytics)
          - if project.present?
            %li
              %a{:style => "font-size:18px;line-height:34px", :href => "http://p.xingcloud.com/platform_apps?project_id=#{project.identifier}"}
                = t(:header_gdp)
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", :style => "padding-top:16px"}
              = session[:cas_user]
              %b.caret
            %ul.dropdown-menu
              - if project.present?
                %li
                  %a{:href => "http://p.xingcloud.com/projects/#{project.identifier}/settings"}
                    = t(:header_settings)
              %li
                %a{:href => "http://p.xingcloud.com/my/account"}
                  = t(:header_my_account)
              %li
                %a{:href => "http://p.xingcloud.com:3001/logout", :ref => "nofollow"}
                  = t(:header_logout)
          %li.divider-vertical{:style => "height:54px"}

:javascript
  Analytics.Request.get({
    url: "/my_projects",
    success: function (data, status, jqXHR){
      $('.project_select').html('');
      for (var i = 0; i < data.length; i++){
        identifier = "#{project.identifier unless project.blank?}";
        if (identifier.length > 0 && identifier == data[i].identifier){
          $('.project_select').append('<option value="'+ data[i].identifier +'" selected="selected">'+ data[i].name +'</option>');
        }
        else{
          $('.project_select').append('<option value="'+ data[i].identifier +'">'+ data[i].name +'</option>');
        }

      }
      $('.project_select').chosen().change(function (){
        window.location.href = "/projects/" + $(".project_select option:selected").val();
      });
    }
  });