!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "XingCloud Analytic"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag "reports"
    = yield :head

    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

  %body
    %div{:class => "navbar navbar-fixed-top"}
      .navbar-inner
        .container-fluid
          %a.brand{:href => "http://p.xingcloud.com"} 行云
          %div{:class => "container-fluid nav-collapse"}
            %ul.nav
              %li.active
                %a{:href => "/"} 数据分析
            %ul{:class => "nav pull-right"}
              %li.divider-vertical
              %li.dropdown
                %a.dropdown-toggle{:href => "#", 'data-toggle' => 'dropdown'}
                  = session[:cas_user]
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "http://p.xingcloud.com/my/account"} 账号设置
                    %a{:href => "http://p.xingcloud.com/logout", :rel => "nofollow"} 退出

    .container-fluid
      #container.row-fluid
        = yield
    
      %footer
        %p &copy; Company 2012
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster

:javascript
  Backbone.history.start();
