!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : t("application")
    
    = csrf_meta_tags
    
    = favicon_link_tag '/favicon.png', :type => 'image/png'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/2.3.5/highcharts.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.11/chosen.jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application"

    - if Rails.application.assets.find_asset("locales/#{I18n.locale}").present?
      = javascript_include_tag "locales/#{I18n.locale}"

  - if MaintenancePlan.current_notice.first.present?
    #error-message.alert{:style => "text-align: center; margin-bottom: 0px;"}
      %b.close{"data-dismiss" => "alert"}
        x
      %i.icon-bullhorn
      - if MaintenancePlan.current_notice.first.announcement.present?
        = t("maintenance_announcement")
        = MaintenancePlan.current_notice.first.localized_announcement
      - else
        = t("maintenance_announcement_default")
      %br
      %i.icon-time
      = t("maintenance_time")
      = MaintenancePlan.current_notice.first.begin_at.strftime("%H:%M %D")
      = t("to")
      = MaintenancePlan.current_notice.first.end_at.strftime("%H:%M %D")
  %body
    = render :partial => "layouts/header", :locals => { :project => @project }
    #container
      = yield

    :javascript
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32275811-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
